<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DevSwachhBharatMainEntities" connectionString="metadata=res://*/MainSwachhBharat.csdl|res://*/MainSwachhBharat.ssdl|res://*/MainSwachhBharat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.36;initial catalog=LIVEAdvanceDevSwachhBharatMain;persist security info=True;user id=sa;password=Appy_1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DevSwachhBharatNagpurEntities" connectionString="metadata=res://*/ChildSwachhBharat.csdl|res://*/ChildSwachhBharat.ssdl|res://*/ChildSwachhBharat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.36;initial catalog=LIVEAdvanceDevSwachhBharatNagpur;user id=sa;password=Appy_1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DevSwachhBharatMainEntities" connectionString="metadata=res://*/MainSwachhBharat.csdl|res://*/MainSwachhBharat.ssdl|res://*/MainSwachhBharat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=LIVEDevSwachhBharatMain;persist security info=True;user id=appynitty;password=BigV$Telecom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DevSwachhBharatNagpurEntities" connectionString="metadata=res://*/ChildSwachhBharat.csdl|res://*/ChildSwachhBharat.ssdl|res://*/ChildSwachhBharat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=LIVEDevSwachhBharatNagpur;user id=appynitty;password=BigV$Telecom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Staging Server-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SwachhBharatAPI-20181023021122.mdf;Initial Catalog=aspnet-SwachhBharatAPI-20181023021122;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DevSwachhBharatMainEntities" connectionString="metadata=res://*/MainSwachhBharat.csdl|res://*/MainSwachhBharat.ssdl|res://*/MainSwachhBharat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.115.153.117;initial catalog=LIVEDevSwachhBharatMain;persist security info=True;user id=sa;password=sa@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DevSwachhBharatNagpurEntities" connectionString="metadata=res://*/ChildSwachhBharat.csdl|res://*/ChildSwachhBharat.ssdl|res://*/ChildSwachhBharat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.115.153.117;initial catalog=LIVEDevSwachhBharatNagpur;user id=sa;password=sa@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DevSwachhBharatMainEntities" connectionString="metadata=res://*/MainSwachhBharat.csdl|res://*/MainSwachhBharat.ssdl|res://*/MainSwachhBharat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=LIVEDevSwachhBharatMain;persist security info=True;user id=appynitty;password=BigV$Telecom;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DevSwachhBharatNagpurEntities" connectionString="metadata=res://*/ChildSwachhBharat.csdl|res://*/ChildSwachhBharat.ssdl|res://*/ChildSwachhBharat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=LIVEDevSwachhBharatNagpur;user id=appynitty;password=BigV$Telecom;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <!--<add name="DevSwachhBharatNagpurEntities" connectionString="metadata=res://*/ChildSwachhBharat.csdl|res://*/ChildSwachhBharat.ssdl|res://*/ChildSwachhBharat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=LIVEDevSwachhBharatNagpur;user id=appynitty;password=BigV$Telecom;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>